.gradle
build/
bin/
bin-debug/
html-template/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IDE
.actionScriptProperties
.flexProperties
.project
.idea/
*.iml
